@CHARSET "ISO-8859-1";

#subreports {
/*	border: 2px solid darkgrey;
	border-radius: 5px;*/
}
#list_container {
	margin: 10px auto 0px auto;
	width: 95%;
}
#list_footer,
#list_error,
#list_loader {
	display: none;
}
#list_footer,
#list_error,
#list_loader {
	width: 20em;
	text-align: center;
	margin: 0px auto 10px auto;
}