<?xml version="1.0" encoding="utf-8" ?>
<config>
	<params addpath="/administrator/components/com_arc_attendance/elements"  group="synch_settings">
		<param name="synch_writes" type="radio" default="0" label="Synchronous Writes" description="Record any attendance marks to external database">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="spacer" type="spacer"></param>
		<param name="att_mergeampm" type="radio" default="0" label="Use custom 'Present' mark" description="Merge the AM and PM registration marks">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="external_am_mark" type="attendanceExternal" default="" label="External AM Mark" description="External AM Present mark">
		</param>
		<param name="external_pm_mark" type="attendanceExternal" default="" label="External PM Mark" description="External PM Present mark"></param>
		<param name="internal_mark" type="attendanceInternal" default="" label="Internal Mark" description="Present mark used when using custom 'Present' mark"></param>
	</params>
	
	<params group="synch_db">
		<param name="att_codes" type="radio" default="0" label="Transfer School Attendance Codes" description="Transfer the codes used by the school for their attendance marks">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="spacer" type="spacer"></param>
		<param name="att_history" type="radio" default="0" label="Transfer Attendance History" description="Transfer attendance history from external Database">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="date_from" type="text" default="" label="Date From" description="Transfer data from this date"></param>
		<param name="date_to" type="text" default="" label="Date To" description="Transfer data from this date"></param>
		<param name="spacer" type="spacer"></param>
		<param name="truncate" type="radio" default="0" label="Delete existing rows" description="Delete the existing rows in the database">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param type="spacer" />
		<param name="complete" type="radio" default="0" label="Complete Data Set" description="Is this a complete set of data or just a partial update?">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
	</params>
	
	<params group="settings_settings">
		<param name="recent_marks" type="radio" default="1" label="Show Recent Marks" description="Display historical attendance data in a register">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="incidents" type="radio" default="1" label="Show Incidents" description="Display historical pupil incidents in a register">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="no_of_historical_marks" type="text" default="" label="Number of Recent Marks / Incidents" description="The number of register occurances to go back and look at"></param>
		<param name="unexplained_code" type="attendanceInternal" default="" label="Code for unexpained absences" description="Unexplained absences denoted by this code will be listed for clarification"></param>
	</params>	
</config>